## Reto 2: Regex

### 1. Objetivos:
    - Practicar expresiones regulares con un conjunto de datos real

---
    
### 2. Desarrollo:

Vamos a practicar expresiones regulares utilizando un conjunto de datos llamado 'amazon_fine_food_reviews-clean.csv'. Este conjunto de datos es en realidad un subconjunto de un conjunto más grande que proviene de [esta fuente](https://www.kaggle.com/snap/amazon-fine-food-reviews). Contiene evaluaciones de muchos diversos productos realizadas por usuarios de Amazon. La columna 'text' contiene el texto de la evaluación, y ésa es la columna que nos interesa.

Vamos a practicar expresiones regulares con esa columna. Con cada búsqueda que realices vas a obtener un nuevo subconjunto de datos de un tamaño específico. Al terminar tus búsquedas compara el tamaño de tus subconjuntos de datos con los de tus compañeros, para checar que tus respuestas fueron correctas.

Tu Reto es entonces obtener subconjunto de datos que tengan estas características:

1. Todas las evaluaciones que contengan la palabra 'food' (en minúsculas).
2. Todas las evaluaciones que contengan algún número de dos digitos.
3. Todas las evaluaciones que contengan algún porcentaje (uno o más digitos seguidos de un signo de porcentaje).
4. Todas las evaluaciones que comiencen con la palabra 'Dog' o 'dog'.
5. Todas las evaluaciones que terminen con el fragmento 'awesome.' (fíjate que hay específicamente un punto después de la palabra 'awesome').
6. Todas las evaluaciones que contengan las palabras 'horrible' **o** 'terrible'.
7. Todas las evaluaciones que contengan **solamente** letras minúsculas.

Después de realizar estas exploraciones, limpia tu conjunto de datos para remover lo siguiente de todos tus textos:

1. Cualquier forma parecida a la siguiente: `<br>` o `<br/>` (revisa variaciones de estos tags, con espacios intermedios, por ejemplo)
2. Signos en general
3. Digitos
4. Cualquier otra cosa que no te parezca relevante para nuestro análisis de lenguaje natural

También convierte todas las letras en minúsculas para homogeneizar nuestro conjunto de datos.

Guarda tu conjunto de datos como un archivo 'csv' para que lo puedas utilizar en los próximos retos (asegúrate de incluir **por lo menos** las columnas 'text' y 'score'.

In [1]:
#montar drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
#leer csv
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Datasets/Remoto amazon_fine_food_reviews-clean.csv')
df.head()

,id,product_id,user_id,profile_name,helpfulness_numerator,helpfulness_denominator,score,time,summary,text
0,258510,B00168V34W,A1672LH9S1XO70,"Lorna J. Loomis ""Canadian Dog Fancier""",13,14,3,1266796800,"Misleading to refer to ""PODS""","This coffee does NOT come in individual ""PODS""..."
1,207915,B000CQID2Y,A42CJC66XO0H7,"Scott Schimmel ""A Butterfly Dreaming""",2,2,5,1279497600,Delicious,I was a little skeptical after looking at the ...
2,522649,B007TJGZ0Y,A16QZBG2UN6Z3X,"Toology ""Toology""",0,0,5,1335830400,One of my favs,Gloia Jeans Butter Toffee is one of my favorit...
3,393368,B000W7PUOW,A3J21CQZG60K35,Hsieh Pei Hsuan,2,2,5,1265673600,Tasty!!,My families and friends love Planters peanuts ...
4,178178,B002FX2IOQ,A1Z7XV6JU0EV8M,"Barbara ""Barbara""",1,6,1,1301788800,"Organic Valley White 1 % Milkfat Lowfat Milk, ...","Organic Valley White 1 % Milkfat Lowfat Milk, ..."

In [8]:
#comida
df_comida = df[df.str.contains(r'\bfood\b', case=False)]
df_comida.head()

5     I adopted a rescue dog who had an allergy to c...
18    My cat Mack has a very sensitive stomach and w...
24    This has got to be one of the great superfoods...
35    My cats are on a diet of super high quality dr...
43    The steaks came well sealed and packaged and w...
Name: text, dtype: object

In [9]:
#contiene dos digitos
df_dos_digitos = df[df.str.contains(r'\b\d{2}\b')]
df_dos_digitos.head()

4     Organic Valley White 1 % Milkfat Lowfat Milk, ...
10    I have a one year old Pomeranian whom has been...
11    This thing makes a great present for any choco...
15    Compare to Teavana white earl grey it is ZERO ...
21    I purchased these energy bars because I like t...
Name: text, dtype: object

In [11]:
#porcentage y digitos
df_porcentaje = df[df.str.contains(r'\d+%')]
df_porcentaje.head()

22     I just finished my last Vita Coco that I odere...
69     We use this coffee in a fully automatic "Saeco...
146    I love these Blue Diamond Almond snacks and I ...
155    I was surprised at the ingredient list and "10...
169    I went through 12 cans in about a week.  Soooo...
Name: text, dtype: object

In [12]:
#contiene perro
df_perro = df[df.str.contains(r'\b(dog|Dog)\b')]
df_perro.head()

<ipython-input-12-9ec7cb88abd8>:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df_perro = df[df.str.contains(r'\b(dog|Dog)\b')]

5      I adopted a rescue dog who had an allergy to c...
76     This is good quality, healthy dog food.  Accor...
83     My Dobie, Max, has never passed up a chance to...
103    It's got a good flavor but it tastes nothing l...
105    The dog I bought this for is now with a differ...
Name: text, dtype: object

In [13]:
#contiene awesome
df_awesome = df[df.str.contains(r'\bawesome\b')]
df_awesome.head()

112    Found these in Florida a few months ago while ...
113    I adopted a 1 year old Yorkie rescue pup who i...
165    Blue Dog's Peanut Butter Softies rock! My dogg...
182    the aroma is awesome!!  love the flavor, reall...
201    This stuff is awesome and has helped me do won...
Name: text, dtype: object

In [14]:
#contiene terrible y horrible
df_terrible = df[df.str.contains(r'\b(terrible|horrible)\b')]
df_terrible.head()

<ipython-input-14-00f2e68ba10d>:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df_terrible = df[df.str.contains(r'\b(terrible|horrible)\b')]

355    Within our family, my husband has diabetic neu...
409    This tea is terrible; cheap store tea bags tas...
441    My lab has a very sensitive stomach, and for t...
656    Every once in awhile I like to try different f...
657    I bought this because the amazon page says tha...
Name: text, dtype: object

In [17]:
#todo es minusculas
df_minusculas = df[df.str.contains(r'^[a-z]+',na=False)]
df_minusculas.head()

75     all I can say is... I'm LOVIN' it!  so much ea...
90     i am not a fan of beefaroni but my family love...
118    good produce i found that the high fiber and n...
138    my daughters dog, Detroit, loves 'em.  otherwi...
168    my dog ( a toy poodle) whos likes people food ...
Name: text, dtype: object

In [19]:
#limpieza de espacios
df_limpio = df.replace(r'\s+', ' ', regex=True)
df_limpio.head()

0    This coffee does NOT come in individual "PODS"...
1    I was a little skeptical after looking at the ...
2    Gloia Jeans Butter Toffee is one of my favorit...
3    My families and friends love Planters peanuts ...
4    Organic Valley White 1 % Milkfat Lowfat Milk, ...
Name: text, dtype: object

In [20]:
#limpieza de signos
df_limpio = df_limpio.replace(r'[^\w\s]', '', regex=True)
df_limpio.head()

0    This coffee does NOT come in individual PODS o...
1    I was a little skeptical after looking at the ...
2    Gloia Jeans Butter Toffee is one of my favorit...
3    My families and friends love Planters peanuts ...
4    Organic Valley White 1  Milkfat Lowfat Milk 8O...
Name: text, dtype: object

In [21]:
#limpieza de digitos
df_limpio = df_limpio.replace(r'\d+', '', regex=True)
df_limpio.head()

0    This coffee does NOT come in individual PODS o...
1    I was a little skeptical after looking at the ...
2    Gloia Jeans Butter Toffee is one of my favorit...
3    My families and friends love Planters peanuts ...
4    Organic Valley White   Milkfat Lowfat Milk Oun...
Name: text, dtype: object

In [22]:
#poner todo en misuculas
df_limpio = df_limpio.str.lower()
df_limpio.head()

0    this coffee does not come in individual pods o...
1    i was a little skeptical after looking at the ...
2    gloia jeans butter toffee is one of my favorit...
3    my families and friends love planters peanuts ...
4    organic valley white   milkfat lowfat milk oun...
Name: text, dtype: object